PORT=4000
CORS_ORIGIN=http://localhost:5173
SUPABASE_URL=https://yifcqsjffmreepnunphq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpZmNxc2pmZm1yZWVwbnVucGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1NjgzMjQsImV4cCI6MjA4NzE0NDMyNH0.22BQ0wQqU4nQdUH6vG44FSUce80GGzDcJMeo_bP-RT8
